<div class="wrapper">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button class="main-link" mat-button routerLink="/">Whistle</button>
            <span class="toolbar-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
            <button mat-button routerLink="/stories">Stories</button>
        </mat-toolbar-row>
    </mat-toolbar>


    <section>
        <form class="example-form">
            <mat-form-field class="" appearance="fill">
                <mat-label>Story title</mat-label>
                <input [formControl]="titleCtrl" matInput placeholder="How XXX Institution is doing YYY">
                <mat-hint>Give your story an appropriate name.</mat-hint>
            </mat-form-field>

            <!--
                Should we allow selecting multiple countries?
            -->

            <mat-form-field appearance="fill">
                <mat-label>Country location</mat-label>
                <input type="text" #trigger="matAutocompleteTrigger" #farmerAutoComplete matInput [formControl]="countryCtrl" [matAutocomplete]="autoLocation">
                <mat-autocomplete #autoLocation="matAutocomplete" [displayWith]="countryDisplayFn" (optionSelected)="countryOptSel($event)">
                    <mat-option *ngFor="let option of countryFilteredOptions | async" [value]="option.name">
                        {{ option.name }}
                    </mat-option>
                </mat-autocomplete>
        
                <button class="" *ngIf="countryCtrl?.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="clearCountryAutocomplete($event, trigger)">
                    <mat-icon>close</mat-icon>
                </button>
        
                <mat-hint>
                    <i>Optional</i>
                </mat-hint>
        
        
                <mat-error *ngIf="countryCtrl?.hasError('required')">
                    <strong>Location</strong> is required.
                </mat-error>
        
            </mat-form-field>

            <!--
                TODO:
                No space between tag words
            -->
            <mat-form-field class="example-chip-list" appearance="fill">
                <mat-label>Story tags</mat-label>
                <mat-chip-list #chipList aria-label="Tag selection">
                    <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                        (removed)="removeTag(tag)">
                        {{tag}}
                        <button matChipRemove *ngIf="removable">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input placeholder="Add Tag" #tagInput [formControl]="tagsCtrl" [matAutocomplete]="autoTag"
                        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="addTag($event)" />
                </mat-chip-list>
                <mat-autocomplete #autoTag="matAutocomplete" (optionSelected)="tagsSelected($event)">
                    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                        {{tag}}
                    </mat-option>
                </mat-autocomplete>

                <mat-hint>Relevant tags like institution abbrevation, etc.</mat-hint>
            </mat-form-field>

            <mat-form-field class="" appearance="fill">
                <mat-label>Your story</mat-label>
                <textarea [formControl]="storyCtrl" matInput placeholder="Type a book. We won't stop you." [matAutosizeMaxRows]="25" [rows]="15" [matTextareaAutosize]="true"></textarea>
                <mat-hint>Don't incldue any <b>P</b>ersonally <b>I</b>dentifiable <b>I</b>nformation</mat-hint>
            </mat-form-field>

            <div class="address-group">
                <mat-form-field appearance="fill">
                    <mat-label>ETH Address</mat-label>
                    <input [formControl]="publisherEthCtrl" matInput placeholder="ETH Address">
                </mat-form-field>

                <button mat-stroked-button color="primary" (click)="confirmEthAddress()">Confirm</button>
            </div>

            <div class="buttons-group">
                <button mat-stroked-button (click)="saveDraft()">Save draft</button>
                <button mat-raised-button color="primary" (click)="publishStory()">Publish</button>
            </div>
        </form>

        <!--
            TODO:
            1. We should have an excellent draft save feature.
            2. In Roadmap, to ensure entire anonymity, use AI to remove PII
            3. Show notification that we automatically saved draft
        -->
    </section>
</div>