<!--
  Trying to emulate https://product-announcement.framer.website/?via=onepagelove

  Format for writing this page: https://twitter.com/leyeConnect/status/1595711722471542784/photo/1
-->
<div class="wrapper">
    <div class="main">
        <header>
            whistle.xyx
        </header>
    
        <section pitch>
            <h1>Safe Reliable Anonymous Whistle Blowing &#8212; <em class="for-everyone">for everyone</em></h1>
    
            <!--
                Context
            -->
            <p>
                "Whistleblowing is one of the most effective ways to detect and prevent corruption and other malpractice. 
                Whistleblowers' disclosures have exposed wrongdoing and fraud, helped <a href="https://pmnewsnigeria.com/2020/03/04/nigeria-recovers-n594-09bn-through-whistleblowing/">save millions</a> in public funds, avoid disasters for health, the environment."

                &#8211; <a href="https://www.transparency.org/en/our-priorities/whistleblowing">Transparency.org</a>
            </p>

            <p>
                Remember <a href="https://thenigerialawyer.com/nigerias-whistleblowing-policy-urgent-case-for-whistle-blowers-protection-law/">Nigeria's 5% Recovered Loot Policy?</a><sup><a href="#cite_note_1">[1]</a></sup> 
                LuxLeaks? Panama Papers? <!-- TODO: maybe not mention LuxLeaks? Panama Papers? -->
            </p>

            <!--
                The Problem
            -->
            <p>
                "Unfortunately, reporting often comes at a high price: whistleblowers risk their career, their livelihood and sometimes their personal safety to expose wrongdoing that threatens the public interest. They may be fired, sued, blacklisted, arrested, threatened or, in extreme cases, assaulted or killed. <i>And in some societies, whistleblowing carries connotations of betrayal rather than being seen as a benefit to the public</i>"

                &#8211; <a href="https://www.transparency.org/en/our-priorities/whistleblowing">Transparency.org</a>
            </p>
            <p>
                Sometimes, they get a fraction the payout.
            </p>

            <p>
                I'm Nigerian, and I know Nigeria as being such a society. Our coming 2023 elections has made me realized how a good percentage of Nigerians love corruption. People are willing to go against it, but they are <a href="https://www.vanguardngr.com/2021/12/5yrs-of-whistleblowing-nigerians-still-afraid-of-reporting-corruption-fg-laments/">rightly scared</a>. But this is bigger than one country... cause know where else there is corruption? EVERYWHERE ELSE.
            </p>

            <p>
                "Ultimately, societies, institutions and citizens lose out when there is no one willing to cry foul in the face of corruption"

                &#8211; <a href="https://www.transparency.org/en/our-priorities/whistleblowing">Transparency.org</a>
            </p>

            <!--
                The solution
            -->
            <p>
                But if people are able to 1. call out corruption anonymously, 2. And/Or receive whatever associated payout anonymously via crypto... then we can put up a good fight against the various forms of corruption.
            </p>

            <p>
                Want to join the cause? Tell your government, company, or institution to open bounties for their employees to blow the whistle.
            </p>

            <p>
                <button mat-raised-button>Blow a whistle</button>
            </p>

            #TechForGood
        </section>

        <hr>

        <div>
            Footnotes.
            <ol>
                <li id="cite_note_1">
                    <a href="https://www.africanews.com/2017/06/08/20-nigerians-to-get-over-1m-whistleblowing-money-from-recovered-368m//">20-nigerians-to-get-over-1m-whistleblowing-money-from-recovered-368m</a>
                </li>
            </ol>
            <!--
                TODO:
                Include how much we can stand to make, just collecting a fraction of payouts. AUM, and all that.
                Understand this article https://www.vanguardngr.com/2018/04/8000-whistle-blowers-recorded-in-1yr-presidential-panel/
            -->
        </div>

        <hr>

        <footer>
            &#169; 2022
        </footer>


    </div>
</div>
