.wrapper {
    background: radial-gradient(125.5% 125.5% at 48.6% 100%, rgb(162, 0, 255) 0%, rgb(2, 4, 49) 100%);

    color: white;
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
}

.main {
    padding: 10%;
}

header {
    padding-bottom: 50px;
}

section[pitch], header, footer {
    text-align: center;
}

.for-everyone {
    font-style: italic;
}

a[href] {
    color: springgreen;
}

ol {
    font-size: smaller;
}

/*
    Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
    Place media queries after other queries
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
        height: auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}